.color-item {
  display: block;
  color: #1F2041;
  font-style: normal;
  font-size: 19px;
  line-height: 28px;
}
.color {
  width: 70px;
  height: 70px;
  
  /* Dark 100% */
  
  background: #1F2041;
  border-radius: 6px;
}
.color-name {
  font-weight: bold;
}
.color-hex {
  font-weight: normal;
}