mixin text-type(options)
   
  div(class = 'text-type__item')
    div(class = 'text-type__item__element-name')
      = options.element_name
    div(class = 'text-type__item__element-explanation')
      = options.element_explanation