@import '../../styles/vars'

.text-types
  flex: 1

.text-type
  &__item
    display: flex
    justify-content: flex-start
    margin-bottom: 50px
    color: $dark-shade-100

    &:last-child
      margin-bottom: 0
      color: $dark-shade-75

    &__name
      color: $dark-shade-25
      font-weight: normal
      margin-right: 30px
      min-width: 40px
      text-align: right