@import "~normalize.css";
@import "fonts.css";
@import "../components/button/button.css";
@import "../components/plan/plan.css";
@import "../components/color_item/color_item.css";

body {
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    line-height: 1.45;
    color: #999;
    -webkit-font-smoothing: antialiased;
}

.container {
    padding-top: 2rem;
    max-width: 980px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.logo {
    background-image: url("../assets/img/logo.svg");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}
.code {
    color: aqua;
}
.img-container {
    display: flex;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
.img-container img {
    display: block;
}