@import "~normalize.css"
@import "fonts.css"
@import "../components/vars.sass"
@import "../components/color-type/color-type.sass"
@import "../components/text-type/text-type.sass"
@import "../components/text-field/text-field.sass"
@import "../components/dropdown/dropdown.sass"

body
  font-family: 'Montserrat'
  font-style: normal
  font-weight: normal
  color: $dark-shade-100
  max-width: 1920px
  min-width: 320px
  box-sizing: border-box

h1, h2, h3, p
  margin:
    top: 0
    bottom: 0

h1
  @extend %h1

h2
  @extend %h2

h3
  @extend %h3

p, a
  @extend %p

input:focus,
select:focus,
textarea:focus,
button:focus
  outline: none

.container
  max-width: 1440px
  margin: 30px 150px
  padding
    top: 37px
    bottom: 50px

.row
  display: flex
  justify-content: space-between

.logo
  margin: 30px 30px 62px
  line-height: 0

.alias_back
  margin: 130px 30px 0
  
  & a
    color: $dark-shade-75
    text-decoration-line: none

// Form Elements

.form-elements h3
  color: $dark-shade-50
  font-weight: normal