@import "~normalize.css"
@import "fonts.css"
@import "../components/button/button.css"
@import "../components/plan/plan.css"
@import "../components/color-type/color-type.sass"
@import "../components/text-type/text-type.sass"

body
  font-family: 'Montserrat-Regular'
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 24px
  color: #1F2041
  max-width: 1920px
  min-width: 320px

.container
  max-width: 1440px
  margin: 0 150px
  padding-top: 37px

.row
  display: flex
  justify-content: space-between
