mixin color-type(options)
   
  .color-type__item
    div(class = 'color-type__item_' + options.class_name)
    div(class = 'color-type__item__color-name')= options.color_name
      br
      span= options.color_hex