extends ../layouts/uikit

include ../components/text-field/text-field
include ../components/dropdown/dropdown

block variables
  - let page_title = 'Form Elements'

block content
  .row.form-elements
    section
      h3= 'default'
      +text-field({id: 'date', label: 'text field', type: 'email', placeholder: 'Email'})
      +text-field({id: 'date_focused', label: 'text field', placeholder: 'Text', text: 'This is pretty awesome', extra_label: 'Hover / Focus'})
      +dropdown({id: 'dropdown', label: 'dropdown'})
    section
      p= page_title
    section
      p= page_title