doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title FSD_edu

  body
    .logo
      img(src='./src/assets/img/logo.svg', alt='logo')
    .container
      h1 Here is a Toxin layout
      hr
      br
      h2 UI Kit pages:
      ul
        li
          a(href='./colors-types.html')= 'Colors & Types'
        li
          a(href='./form-elements.html')= 'Form Elements'
        li
          a(href='./cards.html')= 'Cards'
        li
          a(href='./headers-footers.html')= 'Headers & Footers'