block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= 'UI Kit | ' + page_title

  body
    .body-container
      .logo
        img(src="./logo.svg", alt="logo")
      .container
        block content
      .alias_back
        a(href="./index.html")= '< back to index.html'